@page "/counter"
@inject IJSRuntime JSRuntime

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<ListaCategorie></ListaCategorie>

<Persone></Persone>

<Component1/>


@code {
    private int currentCount = 0;
    private ExampleJsInterop? exampleJsInterop;

    protected override void OnInitialized()
    {
        exampleJsInterop = new ExampleJsInterop(JSRuntime);
    }

    private async Task IncrementCount()
    {
        currentCount++;
        await ShowPrompt();
        await Sum();
        if(exampleJsInterop is not null)
        {
           await  exampleJsInterop.DoSomething("Salvatore");
        }
    }

    private async Task ShowPrompt()
    {
        if (exampleJsInterop is not null)
        {
            await exampleJsInterop.Prompt("Ciao");
        } 
    }

    private async Task Sum()
    {
        if (exampleJsInterop is not null)
        {
            currentCount= await exampleJsInterop.Sum(10,20);
        }
    }

    [JSInvokable]
    public static string DoSomething(string message)
    {
        return $"Ciao, {message}";
    }
}
