@using DemoBlazor.Models.DTO
@using Microsoft.AspNetCore.Components.Forms
@inject ICategorie service

<h3>Dettaglio Categoria</h3>


<EditForm Model="category" OnValidSubmit="Submit">

    <div class="form-group">
        <label for="nome">Nome:</label>
        <InputText class="form-control" @bind-Value="category.Name"></InputText>
    </div>


    <div class="form-group">
        <label for="nome">Descrizione:</label>
        <InputText class="form-control" @bind-Value="category.Description"></InputText>
    </div>

    <button class="btn btn-info" style="margin-top:15px" type="submit">OK</button>
</EditForm>


<button @onclick="Crea">Crea</button>

@code 
{
    private CategoryCreateDTO category = new();


    private void Submit()
    {
        
    }

    public async Task Crea(){
        var category = new CategoryCreateDTO
            {
                Name = "Categoria 1",
                Description = "Descrizione categoria 1"
            };
        await service.CreaCategoriaAsync(category);
    }
}
