@using DemoBlazor.Models.DTO
@inject ICategorie servizioCategorie 

<h3>Lista Categorie</h3>

@if(categorie is not null)
{
    @foreach (var categoria in categorie)
    {
        <p>@categoria.Name</p>
        @foreach (var prodotto in categoria.Products)
        {
            <p>Nome Prodotto: @prodotto.Name</p>
        }
    }
}

@code {
    List<CategoryDTO>? categorie = new List<CategoryDTO>();

    protected override async Task OnInitializedAsync()
    {
        categorie = await servizioCategorie.EstraiCategorieDTOAsync();
    }


}
