@using DemoBlazor.Models.DTO

<h3>Lista Categorie</h3>

@if(categories is not null)
{
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrizione</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td>
                        <button @onclick="async () => await OnEdit.InvokeAsync(category)" class="btn btn-danger">Modifica</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public List<CategoryDTO>? categories { get; set; }
    [Parameter] public EventCallback<CategoryDTO> OnEdit { get; set; }
}
